body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.masthead{
    position: relative;
}

#location_menu{
    position: absolute;
    top: 7px;
    left: 260px;
}

/* Supporting marketing content */
.marketing {
    margin: 0 0 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.cat_price{
    font-size: 250%;
    text-align: right;
    line-height: .7em;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    margin-left: 1em;
}
.cat_price .fa{
    color: gray;
    font-size: 80%;
}
.package_title{
    border-top: 1px solid lightgray;
    font-size: 50%;
    font-weight: normal;
    color: gray;
    display: block;
    margin-top: .3em;
}

th.price{
    width:6.5em
}

#product_list{
    margin-top: 2em;
}
#product_list tr.median{
}
#chart_div{
    margin-bottom: 2em;
}
p, ul{
    line-height: 1.6em;
    margin-bottom: 1.2em;
}
h3{
    margin: 2em 0 1em 0;
}
/*.masthead img{margin-left: -20px}*/
#report_card{
    padding: 2em;
    background: #f7f7f9;
}
#report_card strong{
    color: #1e347b;
    font-family: 'Courier New', monospace;
    font-size: larger;
    font-weight: normal;
}
#report_card .barcode{
    background:url(/static/img/barcode.png) 9px 0 no-repeat;
    padding-top: 30px;
    color: black;
    font-family: monospace;
}
#report_card .id td{
    border: none;
}
#report_card .price_value{
    font-size: larger;
}
#report_card .price_value td{
    border: none;
}
#report_card .product td{
    border-top: none;
}
#product_heading{
    width: 75%;
}
.footer_separator {
    border: 1px solid lightgray;
}
.footer {
    margin-top: 3em;
}
